.clients {
  text-align: center;
}

.clients .clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  .link {
    display: flex;
    height: 90px;
    border: 1px solid $icon-fill;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    fill: $icon-fill;

    transition: $animation-duration $animation-timing-function;
  }

  .link:hover,
  .link:focus {
    border: 1px solid $accent;
    fill: $accent;
  }

  .clients-item {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);

    @media screen and (min-width: 768px) {
      width: calc((100% - 6 * 15px) / 3);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 12 * 15px) / 6);
    }
  }
}
