.hero {
  padding-top: 200px;
  padding-bottom: 280px;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, $gradient-color, $gradient-color),
    url(../images/main-page/hero-img.jpg);
  text-align: center;

  &-tittle {
    margin-top: 0;
    margin-bottom: 30px;
    color: $main-background-color;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.hero-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  background-color: $accent;
  color: $main-background-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

  transition: $animation-duration $animation-timing-function;

  &:hover,
  &:focus {
    background-color: $second-background-color;
    color: $text-nav-tittle;
  }
}
