.team {
  text-align: center;
  background-color: $second-background-color;
}

.team-list {
  display: flex;
  justify-content: space-between;
  text-align: center;

  .list-item {
    padding-bottom: 30px;
    background-color: $main-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.name-worker {
  margin-top: 30px;
  margin-bottom: 10px;

  color: $text-nav-tittle;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.work-position {
  margin-bottom: 16px;
  color: $text-links;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  justify-content: center;

  .link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: $icon-fill;
    border-radius: 50%;

    transition: $animation-duration $animation-timing-function;
  }

  .item:not(:last-child) {
    margin-right: 10px;
  }

  .link:hover,
  .link:focus {
    background-color: $accent;
    border-radius: 50%;
    fill: $main-background-color;
  }
}
