.adress {
  margin-bottom: 8px;

  color: $main-background-color;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-adress > .list-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-adress .link {
  color: $footer-text-link;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
    color: $accent;
  }
}

.adress-conteiner {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 70px;
    text-align: left;
  }
}
