.footer-social {
  display: flex;
  flex-direction: column;

  .item {
    background-color: $bgc-footer-icon;
    border-radius: 50%;
  }

  .icon {
    fill: $main-background-color;
  }
}

.join,
.subscribe {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: $main-background-color;
}
