body {
  background-color: $main-background-color;
  font-family: Roboto, sans-serif;
}

.conteiner {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

.list,
.second-tittle,
.third-tittle,
.txt {
  margin-top: 0;
  margin-bottom: 0;
}

.second-tittle {
  margin-bottom: 50px;

  color: $text-nav-tittle;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.img {
  display: block;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
