.header-adress {
  display: inline-block;
  padding: 18px 0px;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
      justify-content: flex-start;
    }
  }

  & .item:not(:last-child) {
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      margin-bottom: 8px;
    }
  }
}

.link {
  display: inline-flex;
  align-items: center;
  color: $text-links;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: $animation-duration $animation-timing-function;
}

.link:hover,
.link:focus {
  color: $accent;
}

.icon {
  fill: currentColor;
}

.icon-mail {
  width: 20px;
  margin-right: 10px;
}

.phone-item {
  padding-left: 5px;
}

.icon-phone {
  margin-right: 10px;
}
