.mobile-btn {
  margin-left: auto;
  border: none;
  background-color: transparent;

  .mobile-img {
    fill: rgba(0, 0, 0, 1);
  }

  .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }

  &:hover .mobile-img,
  &focus .mobile-img {
    fill: $accent;
  }
}

.mobile-conteiner {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 60px 0px;
  background-color: $main-background-color;
  text-align: center;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 55;

  &.is-open {
    display: block;
  }
}

.header-nav {
  margin: 0px 190px;
  margin-bottom: 60px;

  .item {
    padding-bottom: 8px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
  }

  .item:not(:last-child) {
    margin-bottom: 40px;
  }

  .link {
    color: $text-nav-tittle;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .link:hover,
  .link:focus {
    color: $accent;
  }

  .link.current {
    color: $accent;
  }

  .link.current:hover,
  .link.current:focus {
    color: $text-nav-tittle;
  }

  & > .item {
    position: relative;
  }

  %underline {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 4px;
    background-color: $accent;
    border-radius: 2px;
  }

  .link.current::after {
    @extend %underline;
    opacity: 1;
  }

  .link.current:hover::after,
  .link.current:focus::after {
    background-color: $text-nav-tittle;
  }

  .link::after {
    @extend %underline;
    opacity: 0;
  }

  .link:hover::after,
  .link:focus::after {
    opacity: 1;
  }
}

.header-adress {
  .item:not(:last-child) {
    margin-bottom: 16px;
  }

  .link {
    color: $text-links;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  .link:hover,
  .link:focus {
    color: $accent;
  }

  .icon {
    fill: currentColor;
  }

  .icon-mail {
    width: 20px;
    margin-right: 10px;
  }

  .icon-phone {
    margin-right: 10px;
  }
}
