.head-navigation {
  margin-left: 93px;
}

.header-nav {
  display: flex;

  .item:not(:last-child) {
    margin-right: 50px;
  }

  .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $text-nav-tittle;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: $animation-duration $animation-timing-function;
  }

  .link:hover,
  .link:focus {
    color: $accent;
  }

  .link.current {
    color: $accent;

    transition: $animation-duration $animation-timing-function;
  }

  .link.current:hover,
  .link.current:focus {
    color: $text-nav-tittle;
  }

  & > .item {
    position: relative;
  }

  %underline {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 4px;
    background-color: $accent;
    border-radius: 2px;
    transition: $animation-duration $animation-timing-function;
  }

  .link.current::after {
    @extend %underline;
    opacity: 1;
  }

  .link.current:hover::after,
  .link.current:focus::after {
    background-color: $text-nav-tittle;
  }

  .link::after {
    @extend %underline;
    opacity: 0;
  }

  .link:hover::after,
  .link:focus::after {
    opacity: 1;
  }
}
