$main-background-color: #ffffff;
$second-background-color: #f5f4fa;
$background-footer-hero: #2f303a;
$text-nav-tittle: #212121;
$text-links: #757575;
$accent: #2196f3;
$gradient-color: rgba(47, 48, 58, 0.4);
$icon-fill: #afb1b8;
$footer-text-link: rgba(255, 255, 255, 0.6);
$bgc-footer-icon: rgba(255, 255, 255, 0.1);
$animation-duration: 250ms;
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
